.modal {
  &__backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.8);
    z-index: 1200;
  }
  &__box {
    position: absolute;
    display: flex;
    align-items: center;
    flex-direction: column;
    max-width: 600px;
    padding: 66px 50px;
    background-color: #fff;
    border-radius: 24px;
    margin: 0 auto;
  }
}
