.modal {
  &__backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.8);
    z-index: 1200;
  }
  &__box {
    position: absolute;
    display: flex;
    align-items: center;
    flex-direction: column;
    max-width: 600px;
    padding: 66px 50px;
    background-color: #fff;
    border-radius: 24px;
    margin: 0 auto;}
 
  &__btn {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    top: -3%;
    right: -3%;
    width: 40px;
    height: 40px;
    border-color: transparent;
    border-radius: 50%;
    cursor: pointer;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  
    &:hover,
    &:focus {
      background-color: #50daa8;
    }
  }
}
.close__img {
  width: 20px;
  height: 20px;

  &:hover,
  &:focus {
    color: #fff;
  }
}
